<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
  <script type='text/javascript' src='/validator.js'></script>
  <link href="styles.css" rel="stylesheet" type="text/css">
	<title>Using factory pattern y Javascript</title>
</head>
<body>
<h1>content</h1>
<form action="" class='validate'>
  <label for='name'>Name:</label>
  <input type='text' class='valide required' id='name'><br>
  <label for='age'>Age:</label>
  <input type='text' class='valide required numerical' id='age'><br>
  <label for='zipcode'>Zipcode:</label>
  <input type='text' class='valide required zipcode' id='zipcode'><br>
  <label for='email'>Email:</label>
  <input type='text' class='valide required email' id='email'><br>
  <fieldset id='radiogroup' class='required radiogroup' id='radiogroup'>
    <label>Are you a cool guy?</label><br>
    <input type='radio' name='cool_guy' value='yes'><label class='radio_option'>Yes</label>
    <br>
    <input type='radio' name='cool_guy' value='no'><label class='radio_option'>No</label>
  </fieldset>
	<input type='submit' id='submit'>
</form>
<div class="test">
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit lacus, blandit sed aliquam id, malesuada a diam. Nunc pulvinar sollicitudin molestie. Morbi gravida feugiat dui, eget convallis urna congue eget. Ut placerat, est ac malesuada scelerisque, diam libero vestibulum enim, ut varius dolor mauris quis neque. Sed quis molestie elit. Aenean varius facilisis libero nec venenatis. Proin nulla tellus, fringilla et scelerisque id, accumsan at arcu. Vivamus enim nisl, egestas quis porttitor non, suscipit nec metus
</p>
</div>
</body>
</html>
